

{% block title %}
  <title>Seed Builder</title>
{% endblock %}

{% block content %}
  <h2>Please select the playlists you would like to seed for this playlist</h2>
  <h3>Be creative, options available aren't just playlists you've created.</h3>


 <!-- <form action="/login/create" method="POST">
    <label>Username:</label>
    <input type="text" name="user_name" placeholder="Product XYZ" value="Product XYZ"> -->


<p>
	<h2> Pick a playlist to seed: </h2>


	<!-- https://stackoverflow.com/questions/45877080/how-to-create-dropdown-menu-from-python-list-using-flask-and-html
	<select name="playlist" method="GET" action="/">> -->
	<select>
 		<option value="{{playlists[0]}}" selected>{{playlists[0]}}</option>
  		{% for item in playlists[1:] %}
    		<option value="{{item}}">{{item}}</option>
  		{% endfor %}
	</select>


	<form action="/builder/addseed/">
    	<input type="submit" value="Add seeds!" />
	</form>




{% endblock %}