

{% block title %}
  <title>Login</title>
{% endblock %}

{% block content %}
  <h2>Login</h2>

  Make sure that you are logged into your spotify in the web browser!
  <ul> If your account was made separate from Facebook: find your username at https://www.spotify.com/us/account/overview </ul>
  <ul> If you made your account with Facebook, in the Spotify app go to profile -> share -> copy profile link, your username is the string of characters after user/ and before ?</ul>
<a href="https://www.spotify.com/" target="_blank">Spotify web link</a>


  <h3>Login below</h3>


 <!-- <form action="/login/create" method="POST">
    <label>Username:</label>
    <input type="text" name="user_name" placeholder="Product XYZ" value="Product XYZ"> -->



<form method = ["GET", "POST"] action="/login/create/">
	<input type="text" name = "username">
    <input type="submit" value="Login">
</form>





{% endblock %}